
#page-wrap{
  width: 800px;
  height: 350px;
  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(125deg,rgba(255,26,0,1) 0%,rgba(241,218,54,1) 50%,rgba(41,154,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;

  padding: 30px;
}

html {
  background: white;
}


.name {
  display: flex;
  justify-content: space-around;
}

#color {
  margin-top: 30px !important;
  padding: 5px;
}

#firstName,
#lastName{
  width:375px;
  height: 30px;
  font-family: sans-serif;
  font-size: 16px;
}

#email{
  width:200px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#age,
#date,
#color,
#password,
#email {
  height: 25px;
}

#email {

}

.login {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.button{
  display: flex;
  justify-content: center;
}

.button button {
  width: 788px;
  height: 30px;
  background: green;
  border: 2px solid green;
}

.checkbox{
  padding: 10px;
  display: flex;
  font-weight: bold;
}

#hearAbout{
  padding: 7px;
}

.scrolldown {
  padding: 20px;
}



/*#it{*/
  /*font-weight: bold;*/
  /*font-family: sans-serif;*/
  /*font-size: 40px;*/
/*}*/

.second{
  padding: 20px;

}

#password{
  text-security: disc;
  icon: auto;
}

select {
  width: 450px;
  height: 35px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
}
